{% extends 'core/base.html' %}
{% load static %}

{% block title %} Login {% endblock title %}
   

{% block extra_head %}
<style>
body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
</style>
{% endblock extra_head %}


{% block content %}
<div class="sidenav" style="background-image: url({% static 'core/repairman.webp' %}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="login-main-text">
    <h1>Facility Management Portal<br> Login Page</h1>
    <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form  action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter your Email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter Your Password">
                </div>
                <button type="submit" class="btn btn-black">Login</button>
                <a href="{% url 'accounts:signup' %}" class="btn btn-secondary">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_script %}{% endblock extra_script %}